* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left-container {
  flex: 0.4;
  background-color: white;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}
.right-container {
  flex: 0.6;
  background-color: white;
}
.transparent-box {
  position: relative;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.5); /* White with 80% opacity */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px; /* pick whatever size you want the box to be */
  height: 150px;
}

.transparent-box img {
  background-color: opaque;
  max-width: 100%;
  max-height: 100%;
}
